.heroBg{
  /* The image used */
  background-image: url('/img/iss064e038775.jpeg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

