// Bootstrap and its default variables

// Your variable overrides
$body-bg: #111;
$body-color: rgb(255, 255, 255);

$green: rgba(189,217,106);
$pink: #e0047d;
$yellow: #fdf212;
$blue: rgba(132,192,208,0.71);
$dark-cyan: #39b7ce;
$orange: rgb(225, 133, 52);

$cyan: #09616e;

$primary: #39b7ce;
$info: #2a8596;
$secondary: #587516;

$card-spacer-y:                     .75rem;
$card-spacer-x:                     .25rem;
$card-border-width:                 0px;
$card-cap-bg:                       none;
$card-deck-margin:                  .75rem;
$enable-responsive-font-sizes: true;
$spacer: 1.25rem;
$border-width: 2px;
$font-size-lg: 5rem;
$font-family-base: sans-serif;

$headings-margin-bottom: 0;

$navbar-toggler-padding-x: 0px;
$navbar-toggler-padding-y: 0px;

@import "node_modules/bootstrap/scss/bootstrap";

@import "main.scss";
